---
import CardsItem from "./CardsItem.astro";
import { PROJECTS } from "@/data/projects";
---

<section
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-x-6 gap-y-12"
>
  {
    PROJECTS.map(({ current, date, title, description, image, tags, href }) => (
      <CardsItem
        class="h-full flex flex-col"
        title={title}
        date={date}
        current={current}
        description={description}
        image={image}
        tags={tags}
        href={href}
      />
    ))
  }
</section>
