---
import NextJS from "@/components/icons/Nextjs.astro";
import Tailwind from "@/components/icons/Tailwind.astro";
import Unity from "@/components/icons/Unity.astro";
import Blender from "@/components/icons/Blender.astro";
import CSharp from "@/components/icons/CSharp.astro";
import CardsItem from "./CardsItem.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  UNITY: {
    name: "Unity",
    class: "bg-black text-white",
    icon: Unity,
  },

  BLENDER: {
    name: "Blender",
    class: "bg-[#5c2e14] text-white",
    icon: Blender,
  },

  CSHARP: {
    name: "CSharp",
    class: "bg-[#261345] text-white",
    icon: CSharp,
  },
};

const PROJECTS = [
  {
    current: "Justo ahora",
    title: "Stride",
    description:
      "Stride es una app en desarrollo para planificar rutinas de ejercicio y alimentación, con herramientas de análisis personalizadas. Actualmente, existe un prototipo funcional que permite crear y seguir rutinas, no incluye la función de chat. El objetivo es ayudar a los usuarios a alcanzar sus metas de salud mientras se conectan con una comunidad motivada.",
    image: "/stride.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    href: "https://fitracker-h0at.onrender.com/",
  },
  {
    date: "Dec 11 2024",
    current: "No Disponible",
    title: "Chocolate Factory",
    description:
      "Administra tu propia chocolatería en este juego de gestión de recursos. Optimiza la producción, innova con nuevas recetas y expande tu negocio. Actualmente, estamos puliendo una nueva versión del juego, incorporando el feedback recibido de los jugadores, mejorando la jugabilidad y realizando algunos cambios estéticos para una experiencia más fluida y atractiva.",
    image: "/factory.jpg",
    tags: [TAGS.UNITY, TAGS.CSHARP, TAGS.BLENDER],
    href: "https://epaezrubio.itch.io/chocolate-factory-tycoon",
  },
  {
    date: "Sep 14 2024",
    title: "LabKeeper",
    description:
      "Un desafiante juego de estrategia donde debes gestionar un laboratorio y protegerlo de amenazas externas. Investiga nuevas tecnologías, refuerza la seguridad y equilibra recursos para sobrevivir.",
    image: "/labkeeper.jpg",
    tags: [TAGS.UNITY, TAGS.CSHARP],
    href: "https://larzt.itch.io/labkeeper",
  },
  {
    date: "Nov 11 2024",
    title: "Harmonious Growth",
    description:
      "Un giro innovador al clásico 'Juego de la Vida' de Conway. Expande tu ecosistema con nuevas reglas, utiliza un mazo de cartas estratégico y observa cómo evolucionan las dinámicas de crecimiento.",
    image: "/growth.jpg",
    tags: [TAGS.UNITY, TAGS.CSHARP],
    href: "https://epaezrubio.itch.io/harmonious-growth",
  },
];
---

<section
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-x-6 gap-y-12"
>
  {
    PROJECTS.map(({ current, date, title, description, image, tags, href }) => (
      <CardsItem
        class="h-full flex flex-col"
        title={title}
        date={date}
        current={current}
        description={description}
        image={image}
        tags={tags}
        href={href}
      />
    ))
  }
</section>
